<% provide(:title, 'About Us') %>

<div class="row">
  <div class="col-md-7">
    <h3>Our website</h3>
    <p>
      Vegan Eats Boston is a community website for vegan eating in the Boston area. Our goal is to provide resources for finding and discussing vegan food options.
    </p>
    <p>
      This website is new and will be updated frequently. We would love to hear from you about how this website could be more helpful to Boston vegans. We will be adding new features based on user feedback. Please email us at veganeatsboston@gmail.com and give us your thoughts.
    </p>
    <h3>Our people</h3>
    <div class="media">
      <a class="pull-left">
        <%= image_tag 'becky-founder.jpg', :class => "media-object" %>
      </a>
      <div class="media-body">
        <h4 class="media-heading">Becky Champlin, founder</h4>
        <p>
          Becky lives in Somerville, MA and has been vegan for over six years. She has a cat named Pippa and hopes to someday live in an apartment that allows dogs. Becky loves vegan baking and her favorite cookbook is “The Joy of Vegan Baking” by Colleen Patrick-Goudreau. Becky also loves running, traveling and Gordon Ramsay tv shows.
        </p>
      </div>
    </div>
    <h3>Contact information</h3>
    <p>
      You can reach us by email at veganeatsboston@gmail.com
    </p>
  </div>
  <div class="col-md-5">
    <h3>Questions:</h3>
    <h4>Are you looking for people to contribute?</h4>
    <p>
    Yes! This website is intended to be community driven. We would love any contribution you can offer.
    </p>
    <h4>How can I contribute?</h4>
    <p>
    The easiest way to contribute is to sign up and write some reviews or news posts. Any signed in user can post to the home page. We also need people to contribute information about vegan restaurants.
    </p>
    <h4>Are you looking for suggestions to improve this website?</h4>
    <p>
    Absolutely. If you have any ideas about how to improve this website please contact us. We will be adding new features to the website based on user suggestions. You can reach us at veganeatsboston@gmail.com.
    </p>
  </div>
</div>
