<% provide(:title, 'Admin') %>

<h1>Admin</h1>
<p>
  This is the Admin page for Vegan Eats Boston
  <br>
  Access:
  <br>
  <%= link_to "Users",  users_path %><br>
  <%= link_to "Posts",  posts_index_admin_path %>
</p>
