<div class="row">
  <article class="col-md-8">
    <ol class="posts">
      <%= render @home_page.posts if @home_page.posts.any? %>
    </ol>
    <%= paginate @home_page.posts %>
  </article>

  <div class="col-md-4 padding-to-top-10">
    <div class="side-heading">
      <h4>Top Rated</h4>
    </div>
    <ul class="front-page-list">
      <% @home_page.top_places.each do |place| %>
        <%= render 'places/place_less', :place => place %>
      <% end %>
    </ul>
    <div class="side-heading padding-to-top-20">
      <h4>Recent Reviews</h4>
    </div>
    <ul class="front-page-list">
      <% @home_page.recent_reviews.each do |review| %>
        <%= render 'reviews/review', :review => review %>
      <% end %>
    </ul>
  </div>
</div>

