<div class="center hero-unit">
  <h1>Vegan Eats Boston</h1>

  <h2>
    This is the home page for Vegan Eats Boston
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
