<div class="row">
  <article class="col-md-8">
    <% if @posts.any? %>
      <ol class="posts">
        <%= render @posts %>
      </ol>
    <% end %>
    <%= paginate @posts %>
  </article>
  <div class="col-md-4 padding-to-top-10">
    <div class="side-heading">
      <h4>Top Rated</h4>
    </div>
    <ul class="front-page-list">
      <% @places.each do |place| %>
        <%= render 'places/place_less', :place => place %>
      <% end %>
    </ul>
    <div class="side-heading">
      <h4>Recent Reviews</h4>
    </div>
    <ul class="front-page-list">
      <% @reviews.each do |review| %>
        <%= render 'reviews/review', :review => review %>
      <% end %>
    </ul>
  </div>
</div>

