<div class="row">
  <article class="col-md-8">
    <% if @posts.any? %>
      <ol class="posts">
        <%= render @posts %>
      </ol>
    <% end %>
    <%= paginate @posts %>
  </article>
  <div class="col-md-4 padding-to-top-20">
    <h3 class="text-center">Top Rated</h3>
    <ul class="front-page-list">
      <% @places.each do |place| %>
        <%= render 'places/place_less', :place => place %>
      <% end %>
    </ul>

    <h3 class="text-center">Recent Reviews</h3>
    <ul class="front-page-list">
      <% @reviews.each do |review| %>
        <%= render 'reviews/review', :review => review %>
      <% end %>
    </ul>
  </div>
</div>

