<div class="row">
  <article class= "col-md-10 col-md-offset-1">
    <h3 class="text-center">Around Town</h3>
    <% if @posts.any? %>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </article>
</div>

