<% provide(:title, "Password Reset") %>

<div class="row">
  <div class="col-sm-4 col-sm-offset-4">

    <h2 class="text-center">Password reset</h2>
      <%= form_tag password_resets_path, :method => :post do %>
        <div class="form-group">
          <%= label_tag :email %>
          <%= text_field_tag :email, params[:email], class: "form-control" %>
        </div>
        <div class="actions"><%= submit_tag "Reset Password", class: "btn btn-large btn-primary" %></div>
      <% end %>
  </div>
</div>