<% if comment.user %>
  <li>
    <div class="media">
      <%= link_to gravatar_for(comment.user, :size => 50, :class => "media-object pull-left"), comment.user, :class => "pull-left" %>
      <div class="media-body">
        <h4 class="media-heading">
          by <%= link_to comment.user.name, comment.user %>
          <%= time_ago_in_words(comment.created_at) %> ago.
        </h4>
        <%= comment.content.try(:html_safe) %>
      </div>
    </div>
  </li>
<% end %>