<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <%= " (Admin)" if current_user.admin? %>
      </h1>
    </section>
  </aside>
</div>