<li class="dropdown visible-xs">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <%= current_user.name %><b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <%= render 'shared/account_dropdown_links' %>
  </ul>
</li>
