<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    <%= current_user.name %>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu pull-right">
    <%= render 'shared/account_dropdown_links' %>
  </ul>
</div>
