<div id=<%= "star_place" + place.id.to_s %>></div>
<div class="text" class="text-right">
  (<%= pluralize(place.reviews_count, 'review') %>)
</div><br>

<script type="text/javascript">
  $('#star_place<%= place.id.to_s %>').raty({
    readOnly: true,
    score: <%= place.rating %>,
    path: '/assets'
  });
</script>
