<div class="alert alert-danger space-to-top-40 padding-to-bottom-20" role="alert">
  Something went wrong and we were unable to generate the correct page for you. Please email us at <%= mail_to "veganeatsboston@gmail.com" %> and tell us what is broken.
</div>