$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media(min-width:768px) {
  .main-content {
    padding-left: 30px;
  }
}

html {
  overflow-y: scroll;
}

a:hover {
  cursor:pointer;
}

textarea {
  width: 100%;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Prevents text field zoom on mobile phones */
input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}

.no-padding {
  padding: 0
}
