.main-content {
  margin-top: 20px;
}

.padding-to-top-20 {
  padding-top: 20px;
}

.padding-to-top-10 {
  padding-top: 10px;
}

.padding-to-bottom-10 {
  padding-bottom: 10px;
}

.no-left-padding {
  padding-left: 0px;
}
