.star {
  float: right;
  
  img {
    height: 16px;
    width: auto;
    margin-right: 4px;
    float: left;
  }
}

#user_star {
  img {
    height: 19px;
    width: auto;
    margin-right: 4px;
    float: left;
  }
}
