@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {

}

/* typography */


/* header */

header {
  height: 62px;
  background-color: #f8f8f8;
}

.masthead {
  border-width: 1px;
  border-bottom-width: 1px;
  border-color: #e7e7e7;
}

.masthead-right {
  margin-top: 15px;
  text-align: right;
}

.navbar {
  border-top-width: 1px;
  margin-bottom: 0;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
    #small-logo {
      display: inline;
    }
}

#small-logo {
  display: none;
}

#logo {
  img { 
    padding-left: 5px;
    padding-top: 2px;
    height: 45px;
    width: auto;
  }
}

.logo-margin {
  img {
    margin-top: 8px;
  }
}

#logo-small {
  img {
    height: 40px;
    width: auto;
    padding-right: 5px;
    padding-top: 7px;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.jumbotron {
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-color: #e7e7e7;
  border-bottom-style: solid;
  padding: 10px 0 20px;
  //background: url("boston_skyline.jpg") no-repeat center center; 
  //-webkit-background-size: 100% 100%;
  //-moz-background-size: 100% 100%;
  //-o-background-size: 100% 100%;
  //background-size: 100% 100%;
  //color: white;
  //margin-top: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .has-error;
}

/* posts */

.posts {
  list-style: none;
  padding: 0;
  font: 1.3em Georgia, "Times New Roman", Times, serif;

  li {
    padding: 20px 0;
    border-top: 1px solid #e8e8e8;
  }

  li:first-child {
    border-top: none;
    padding: 0;
    padding-bottom: 15px;
  }
}

.title {
  @extend h3;
  margin: 0;
  text-align:left;
  display: block;
  padding-bottom: 5px;
}

.content {
  display: block;
  padding: 10px 0;
  line-height: 1.5;
  img {
    @extend .img-responsive;
  }
}

.timestamp {
  color: $gray;
  font-size: .8em;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.postimage {
  margin-top: 5px;
}

/* places */

.place {
  img {
    float: left;
    margin-right: 10px;
    height: 200px;
    width: auto;
  }
}

.places {
  list-style: none;
  padding: 0;
  font: 1.2em Georgia, "Times New Roman", Times, serif;

  img {
    float: left;
    margin-right: 10px;
    height: 100px;
    width: auto;
  }

  li {
    min-height: 120px;
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8;
    address {
      line-height: 1em;
    }
  }
}

