@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a:hover {
 cursor:pointer;
}

.main-content {
  margin-top: 20px;
}

.space-to-bottom-40 {
  margin-bottom: 40px;
}

.space-to-bottom-20 {
  margin-bottom: 20px;
}

.padding-to-left-40 {
  padding-left: 40px;
}

.padding-to-top-20 {
  padding-top: 20px;
}

.padding-to-top-10 {
  padding-top: 10px;
}

.padding-to-bottom-10 {
  padding-bottom: 10px;
}


textarea {
  width: 100%;
}

.no-left-padding {
  padding-left: 0px;
}

/* typography */

.veb-green {
  color: #104c00 !important;
}

/* header */

header {
  height: 62px;
  background-color: #f8f8f8;
}

.affix {
  body {
    padding-top: 60px;
  }
  position: fixed;
  top: 0;
  width: 100%;
  z-index:10;
}

.masthead {
  border-width: 1px;
  border-bottom-width: 1px;
  border-color: #e7e7e7;
}

.masthead-right {
  margin-top: 15px;
  text-align: right;
}

.navbar {
  border-top-width: 1px;
  margin-bottom: 0;
}

.nav-search {
  width: 400px !important;
}

#logo {
  img { 
    padding-left: 5px;
    padding-top: 2px;
    height: 45px;
    width: auto;
  }
}

.logo-margin {
  img {
    margin-top: 8px;
  }
}


/* footer */

footer {
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  margin-top: 20px;
  padding: 40px 0 30px 0;

  ul { padding-left: 0; }
  li {
    list-style: none;
    a {
      color: #4D4D4D;
      font-size: 1.1em;
      display: block;
      padding-bottom: 7px;
      text-decoration: none;
    }
  }

  small {
    line-height: 1.5em;
  }

  h5 {
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
  }

  .footer-panel {
    padding: 0 50px 20px 50px;
  }

  .dev-info {
    a { color: #4D4D4D; }
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #e7e7e7;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.jumbotron {
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-color: #e7e7e7;
  border-bottom-style: solid;
  padding: 30px 0 40px;
  margin-bottom: 0px;
  //background: url("boston_skyline.jpg") no-repeat center center; 
  //-webkit-background-size: 100% 100%;
  //-moz-background-size: 100% 100%;
  //-o-background-size: 100% 100%;
  //background-size: 100% 100%;
  //color: white;
  //margin-top: 0;
}

.dropdown-menu {
  z-index: 10000;
}

.filter {
  padding-top: 10px;
  padding-bottom: 8px;
}

.star {
  float: right;
  
  img {
    height: 19px;
    width: auto;
    margin-right: 4px;
    float: left;
  }
}

#star {
  img {
    height: 19px;
    width: auto;
    margin-right: 4px;
    float: left;
  }
}

#user_star {
  img {
    height: 19px;
    width: auto;
    margin-right: 4px;
    float: left;
  }
}

.tabs {
  margin-bottom: 20px;
}

/* forms */

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .has-error;
}

/* posts */

.posts {
  list-style: none;
  padding: 0;
  font-size: 1.2em;
  margin-top: -20px;

  li {
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8;
  }
}

.title {
  @extend h3;
  margin: 0;
  text-align:left;
  display: block;
  padding-bottom: 5px;
}

.content {
  display: block;
  padding: 10px 0;
  line-height: 1.5;
  img {
    @extend .img-responsive;
  }
}

.post-icons {
  padding-top: 15px;
}

.timestamp {
  color: $gray;
  font-size: .9em;
  padding-left: 0;
}

.postimage {
  margin-top: 15px;
}

/* places */

.place-img {
  img {
    float: left;
    max-height: 200px;
    max-width: 200px;
  }
}

.places {
  list-style: none;
  padding: 0;
  font-size: 1.1em;
  line-height: 1.2em;
  
  img {
    float: left;
    margin-right: 10px;
    max-height: 105px;
    max-width: 105px;
    width: auto;
  }

  li {
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #e8e8e8;
    address {
      padding-top: 5px;
      font-size: .9em;
      line-height: 1.1em;
      margin-bottom: 0px;
    }
  }

  .place-list-right {
    float: right;
    
    .text {
      padding-right: 20px;
      font-size: .9em;
    }

    img {
      height: 19px;
      width: auto;
      margin-right: 4px;
      float: left;
    }
  }
}

/* reviews */

.reviews {
  list-style: none;
  padding: 0;
  font-size: 1.1em;

  .review-img {
    img {
      width: 40px;
      height: 40px;
    }
  }

  li {
    padding: 10px 0px 0px 0px;
    border-top: 1px solid #e8e8e8;
  }

  li:first-child {
    border-top: none;
    padding: 0;
  }

  .collapse.in {
    display: inline;
  }
}

/* place filters */

.place-filters {
  min-height: 130px;
  border-bottom: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  margin-top: 10px;
}


/* front page */

.front-page-list {
  list-style: none;
  padding: 0;
  font-size: 1em;
  line-height: 1.3em;

  li {
    padding: 5px 0px 10px 0px;
    margin-bottom: 5px;
    border-bottom: 1px solid #e8e8e8;
    h5 {
      margin-top: 0px;
    }
    p {
      margin-bottom: 0px;
    }

  .review-img {
    img {
      width: 40px;
      height: 40px;
    }
  }

  }

  .place-list-right {
    float: right;
    
    .text {
      padding-right: 20px;
      font-size: .9em;
    }

    img {
      height: 16px;
      width: auto;
      margin-right: 3px;
      float: left;
    }
  }

  .collapse.in {
    display: inline;
  }
}

.side-heading {
  h4 {
    margin-bottom: 5px;
  }
  margin-bottom: 5px;
  border-bottom: 1px solid #e8e8e8;
}
