/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.dropdown-menu {
  z-index: 10000;
}

.filter {
  padding-top: 10px;
  padding-bottom: 8px;
}

.star {
  float: right;
  
  img {
    height: 19px;
    width: auto;
    margin-right: 4px;
    float: left;
  }
}

#star {
  img {
    height: 19px;
    width: auto;
    margin-right: 4px;
    float: left;
  }
}

#user_star {
  img {
    height: 19px;
    width: auto;
    margin-right: 4px;
    float: left;
  }
}

.tabs {
  margin-bottom: 20px;
}

.map-container {
  margin-bottom: 20px;
}

/* place filters */

.place-filters {
  min-height: 130px;
  border-bottom: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  margin-top: 10px;
}
