<li>
  <div class="row">
    <div class="col-md-12">
      <%= link_to review.place.name, review.place %><br>
      <%= link_to review.user.name, review.user %><br>
      <%= review.content.html_safe %>
    </div>
  </div>
</li>