<div class="btn-group">
  <button type="button" 
          class="btn btn-default dropdown-toggle"
          id="cities_button" 
          data-toggle="dropdown" aria-expanded="false">
    Cities <span class="caret"></span>
  </button>
  <ul class="dropdown-menu filter-links checkbox-menu" role="menu">
    <% Place.all_cities.each do |city| %>
      <li><%= check_box_tag("cities[]", city) + " #{city}" %></li>
    <% end %>
  </ul>
</div>

