<%= smart_listing_controls_for(:places) do %>
  <div class="place-filters space-to-bottom-20">
    <h4>Filters:</h4>
    <div class="filter input-append">
    <%= text_field_tag :filter, '', class: "search form-control", 
                              placeholder: "Search...", autocomplete: :off %>
    </div>
  </div>
<% end %>