<% @places.each do |place| %>
<li>
  <div class="row">
    <div class="col-md-12">
      <%= image_tag place.primary_image.url %>
      <address>
        <strong><%= link_to place.name, place %></strong><br>
        <%= place.address_city %>, <%= place.address_state %><br>
      </address>
    </div>
  </div>
</li>
<% end %>