<div class="row">
  <div class="jumbotron col-md-12">
    <div class="container">
      <div class="text-center">
        <h1 class="veb-green">Vegan Eats Boston</h1>
        <p>
          Welcome to VEB. We are currently in development and are planning a Q4 2014 release.
        </p>
      </div>
    </div>
  </div>
</div>